@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme {
    --font-notosans: "Noto Sans", "sans-serif"
}

@layer components {
    .aiueo {
        @apply bg-black;
    }
}

/* EnterName.tsx */
.outer-ripple {
    position: fixed;
    border-radius: 50%;
    background-color: rgb(159, 159, 169);
    transform: scale(0.5);
    animation: outer-ripple-animation 1500ms ease-out;
    pointer-events: none;
    z-index: 0;
}

@keyframes outer-ripple-animation {
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.chip {
    background: #333;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation: fadeOut 0.5s ease-in-out 2.5s forwards;
}

.chip-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}